@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bgimg{
  background: url('/sidebar-d.svg') no-repeat center center/cover  ;
/* border: none; */
  /* height:max-content */
  /* width: 150px; */
  /* width: 274; */
    /* height: 568; */

  /* padding: 1rem; */
}

.gridd{
  display: grid;
  grid-template-columns: 274px 1fr;
  padding: 1rem;
  min-height: 600px;
  background-color: rgb(243, 244, 240);
}
